
<div class="row">
  <div class="cal text-center">
    
    <img src="assets/{{ intentos }}.png" class="ahorcado-img">

    <h3>Intentos <small> {{ intentos }} / 9</small> </h3>
  
  </div>
</div>


<div class="row">
  <div class="cal text-center">
    
  <h1> {{ palabraOculta }}</h1>
  
  </div>
</div>



<div class="row" *ngIf="gano">
  <div class="cal text-center">
    
  <h1> Felicidades ganaste:) </h1>
  
  </div>
</div>


<div class="row" *ngIf="perdio">
  <div class="cal text-center">
    
  <h1> Lo siento, perdiste :/</h1>
  <h2>{{ palabra }} </h2>
  
  </div>
</div>

<div class="row" *ngIf="!gano && !perdio">
  <div class="cal text-center">
    
    <button (click)="comprobar( letra )" *ngFor="let letra of letras" class="btn btn-primary"> 
      {{letra}}
    </button>
    
  </div> 
</div>



