
<div class="row">
  <div class="cal text-center">
    
    <img src="assets/9.png" class="ahorcado-img">

    <h3>Intentos <small> 3 / 9</small> </h3>
  
  </div>
</div>


<div class="row">
  <div class="cal text-center">
    
  <h1> _ _ _ _ _ _ _ _ _ _</h1>
  
  </div>
</div>

<div class="row">
  <div class="cal text-center">
    
    <button class="btn btn-primary"> A </button>
    <button class="btn btn-primary"> B </button>
    <button class="btn btn-primary"> C </button>
  
  </div> 
</div>



